.slika{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSZG5FvXH7pBuewg_zxAlxx9C6ywRHkNXUpw&usqp=CAU);
    width:100%;
    height: 100px;
    position:fixed;
    
}

.naslov {
    position: absolute;
    bottom: 50px;
    left: 50%;
    text-align: center;
}

  
.dole_levo{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.gore_levo {
    position: absolute;
    top: 10px;
    left: 10px;
    
}

.gore_desno{
    position:absolute;
    top: 10px;
    right: 10px;
}

.dole_desno{
    position: absolute;
    bottom: 10px;
    right: 10px;
    
}

